{% if section.settings.menu-icon != blank %}    
    <img src="{{section.settings.menu-icon | img_url: '100x' }}" alt="menu icon" class="menu-icon" onClick="toggleMenu()">
{% else %}
    <a href="#">Main Menu</a>
{% endif %}

