    {% if section.settings.close-menu != blank %}
        <img src="{{ section.settings.close-menu | img_url: '48x' }}" alt="close menu">
    {% else %}
        <span>close menu</span>
    {% endif %}