    {% if section.settings.site-logo != blank %}
        <a href ="/"><img src="{{section.settings.site-logo | img_url: '81x'  }}" alt="{{shop.name}}"></a>
    {% else %}
        <a href ="/">{{shop.name}}</a>
    {% endif %}