<div class="cart-drawer js-cart-drawer" >
    {% render 'cart-header' %}
    {% if cart.item_count > 0 %}
        <form action="{{ routes.cart_url }}" class="cart__contents" method="post" id="cart">
            {% render 'line-item' %}

        </form>
                <hr class="cart-subtotal-hr">
    <div class="cart-total">
        <p class="subtotal">Subtotal</p>
        <p class="price">{{cart.total_price | money}}</p>
    </div>
    <div class="cart-footer">
        <button class="btn checkout" type="submit" name="checkout">checkout</button>
    </div>
    <hr class="cart-hr">
    {%else %}
    <h3>{{section.settings.empty-cart-message}}</h3>
    <a href="collections/all" class="btn keep-shopping">Keep Shopping</a>
    {% endif %}
    
</div>
{% schema %}
    {
        "name": "Side Cart",
        "settings": [
           {
            "type": "image_picker",
            "id": "cart-logo",
            "label": "Cart Logo Image"
           },
           {
            "type": "image_picker",
            "id": "back-img",
            "label": "Back Icon"
           },
           {
            "type": "text",
            "id": "empty-cart-message",
            "label": "Empty Cart Text",
            "default":"Empty Cart Text"
          }
        ]
    }

{% endschema %}